.block-sequence-container {
    
    border-style: solid;   
    border-width: 2px;
    border-radius: 10px;
    background-color: #66ffff;
    display: inline-block;    
    padding-right: 40px;
    width : 100%;    
    overflow: auto;
    max-height: 500px;
      
    
}